.inactive {
    color: black;
    text-decoration: none;
}

.active {
    color: white;
    text-decoration: none;
  }

  .nav-link {
    display: block;
    color: black;
  }

  body {
    //background-image: path('assets/charity.png');
    background-color: #7EABB0;
  }    