<div class="d-flex flex-column flex-shrink-0 w-auto p-3 border-end">
  <div class="mx-2 px-2 text-center">
    <img src="assets/astrapay.jpg" height="45" alt="angular_logo" />
  </div>
  <div class= "mx-2 px-2 mt-3 text-center">
    <span class="fs-4">{{ 'ADMIN' | translate}}</span>
    <!-- <div>
    <span class="fs-8">(Admin)</span></div> -->
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <ng-container *ngFor="let data of dataPath">
    <li class="nav-item">
      <a [routerLink]="data.path" routerLinkActive="active" class="nav-link">
        {{ data.name | translate}}
      </a>
    </li>
  </ng-container>
  </ul>
  <hr />
  <ul class="nav nav-pills flex-column ml-3 mb-2">
    <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ 'LANGUAGE' | translate }}
    </a>
    <li class="nav-item dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="doTranslate('en')">English</a>
      <a class="dropdown-item" (click)="doTranslate('id')">Indonesia</a>
      <a class="dropdown-item" (click)="doTranslate('hindi')">Hindi</a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        routerLink="/admin-login"
        (click)="doLogout()"
        routerLinkActive="active"
        class="nav-link link-dark"
      >
      {{ 'LOGOUT' | translate}} 
      </a>
    </li>
  </ul>
</div>
