<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>
              {{ "LIST OF" | translate }}
              <b>{{ "SOCIAL  ACTION SUBMISSION" | translate }}</b>
            </h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input
                id="table-filtering-search"
                class="form-control"
                type="text"
                [formControl]="filter"
                placeholder="Search&hellip;"
              />
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>{{ "NO." | translate }}</th>
            <th>{{ "COMPANY NAME" | translate }}</th>
            <th>{{ "PROGRAM NAME" | translate }}</th>
            <th>{{ "TARGET" | translate }}</th>
            <th>{{ "STATUS" | translate }}</th>
            <th>{{ "MORE INFO" | translate }}</th>
            <th>{{ "VALID / NOT VALID" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of open | async; let i = index">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ data.companyName }}</td>
              <td>{{ data.nameProgram }}</td>
              <td>{{ data.target | currency: "Rp " }}</td>
              <td>{{ data.status }}</td>
              <td>
                <button
                  class="btn w-20"
                  title="View"
                  data-toggle="tooltip"
                  (click)="openModal(template, data)"
                >
                  <i class="material-icons" style="color: rgb(110, 196, 241)">&#xE417;</i>
                </button>
              </td>
              <td *ngIf="data.status == 'On Review';">
                <button
                  class="btn"
                  title="View"
                  data-toggle="tooltip"
                  (click)="updateDataValid(data.programID)"
                >
                <i class="bi bi-check-circle-fill" style="color: green"></i>
                </button>
                <a style="font-size: 20px;">|</a>
                <button
                  class="btn"
                  title="View"
                  data-toggle="tooltip"
                  (click)="updateDataUnvalid(data.programID)"
                >
                <i class="bi bi-x-circle-fill" style="color: red"></i>
                </button>
              </td>

              <td style="font-size: 14px;" *ngIf="data.status != 'On Review';">
                Reviewed By: Admin {{data.reviewedBy}}
              </td>
              
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">
          {{ "ACTIONS" | translate }} <b>1</b> {{ "OUT OF" | translate }}
          <b>1</b> {{ "ENTRIES" | translate }}
        </div>
        <ul class="pagination">
          <li
            class="page-item"
            (click)="tooShort()"
            [ngClass]="min ? 'disabled' : ''"
          >
            <a><i class="fa fa-angle-double-left"></i></a>
          </li>
          <li class="page-item" [ngClass]="page === 1 ? 'active' : ''">
            <a class="page-link" (click)="next(1)">1</a>
          </li>
          <li class="page-item" [ngClass]="page === 2 ? 'active' : ''">
            <a class="page-link" (click)="next(2)">2</a>
          </li>
          <li class="page-item" [ngClass]="page === 3 ? 'active' : ''">
            <a class="page-link" (click)="next(3)">3</a>
          </li>
          <li class="page-item" [ngClass]="page === 4 ? 'active' : ''">
            <a class="page-link" (click)="next(4)">4</a>
          </li>
          <li class="page-item" [ngClass]="page === 5 ? 'active' : ''">
            <a class="page-link" (click)="next(5)">5</a>
          </li>
          <li class="" (click)="tooMuch()" [ngClass]="max ? 'disabled' : ''">
            <a class="page-link"><i class="fa fa-angle-double-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ viewData.nameProgram }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ "COMPANY NAME" | translate }}: <b>{{ viewData.companyName }}</b>
    <hr />
    <p>
      {{ "NAME HEAD OF PROGRAM" | translate }}: {{ viewData.leadProgramName }}
    </p>
    <hr />
    <p>
      {{ "EMAIL HEAD OF PROGRAM" | translate }}: {{ viewData.leadProgramEmail }}
    </p>
    <hr />
    <p>
      {{ "PHONE NUMBER HEAD OF PROGRAM" | translate }}:
      {{ viewData.leadProgramNoHp }}
    </p>
    <hr />
    <p>{{ "START DATE" | translate }}: {{ viewData.startDate }}</p>
    <hr />
    <p>{{ "END DATE" | translate }}: {{ viewData.endDate }}</p>
    <hr />
    <p>
      {{ "TARGET" | translate }}: <b>{{ viewData.target | currency: "Rp " }}</b>
    </p>
    <hr />
    <p>{{ "DESCRIPTION" | translate }}:</p>
    <p>{{ viewData.description }}</p>
    <hr />
    <p>
      {{ "STATUS" | translate }}: <b>{{ viewData.status }}</b>
    </p>
    <hr />
    <p>{{ "DESCRIPTION STATUS" | translate }}: {{ viewData.detailStatus }}</p>
  </div>
</ng-template>
