<nav class="navbar navbar-expand-lg bg-lightblue">
    <div class="container-fluid mt-2 ml-2" >
      <a class="navbar-brand" href="">
        <img src="assets/astrapayy.png" alt="Bootstrap" width="42" height="42">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-1" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"  style="font-size: 18px;">
          
          <!-- <li class="nav-item">
            <a class="nav-link" style="color: rgb(66, 65, 65); font-size: 18px;">|</a>
          </li> -->
          <div class="dropdown mt-1">
            <button class="btn btn-sm  dropdown-toggle" style="font-size: 18px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'LANGUAGE' | translate }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="doTranslate('en')">English</a>
              <a class="dropdown-item" (click)="doTranslate('id')">Indonesia</a>
              <a class="dropdown-item" (click)="doTranslate('hindi')">Hindi</a>
            </div>
          </div>
        </ul>  
          <!-- <a class="nav-link link-dark" style="font-size: 18px;" routerLink="admin-login">
            <img src="assets/admin.png" width="40" height="40"> 
          </a> -->
      </div>
    </div>
  </nav>

