
<div class="wrapper mt-6">
    <div class="d-flex justify-content-center">
        <!-- <img src="assets/user.png"> -->
        <ng-lottie [options]="lottieConfig" width="150px"></ng-lottie>
    </div>
    <div class="text-center name">
        AstraPay
    </div>
    <form class="p-3 mt-3" (ngSubmit)="doLogin()" [formGroup]="formLogin">
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-phone"></span>
            <input type="text" class="form-control" formControlName="noHp" name="noHp" id="noHp"  placeholder="{{ 'PHONE NUMBER' | translate }}">
        </div>
        <div *ngIf="(errorControl['noHp'].dirty || errorControl['noHp'].touched) && errorControl['noHp'].errors">
            <span style="font-size: 11px;"  *ngIf="errorControl['noHp'].errors['minlength']">{{('PHONE NUMBER' | translate)  + ('MUST BE AT LEAST 10 CHARACTERS' | translate)}}</span>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-key"></span>
            <input type="{{isPin ? 'password' : 'text'}}" class="form-control" formControlName="pin" name="pin" id="pin" placeholder="{{ 'PIN' | translate }}">
                  <span class="position-relative pr-4" id="basic-addon1">
            <i class="position-absolute translate-middle-y"(click)="doChangeTypePin()" [ngClass]="isPin ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
          </span>
        </div>
        <div style="font-size: 12px;" *ngIf="(errorControl['pin'].dirty || errorControl['pin'].touched) && errorControl['pin'].errors">
            <span *ngIf="errorControl['pin'].errors['minlength']">{{('PIN' | translate) + ('MUST BE AT LEAST 4 CHARACTERS' | translate)}} </span>
        </div>
        <button type="submit" class="btn mt-3">{{ 'LOGIN' | translate }}</button>
    </form>
    <!-- <div class="text-center fs-6">
        <a style="font-size: 14px; color: black;">{{'DONT HAVE AN ACCOUNT YET?' | translate}}</a><a style="font-size: 14px;" [routerLink]="['/register']">{{ 'SIGN UP' | translate }}</a>
    </div> -->
</div>
