<div class="wrapper mt-4">
    <div class="d-flex justify-content-center">
        <ng-lottie [options]="lottieConfig" width="120px"></ng-lottie>
    </div>
    <div class="text-center name">
        {{('REGISTER' | translate)  + ' ' + ('ADMIN' | translate)}}
    </div>
    <form class="p-3 mt-3" (ngSubmit)="doRegister()" [formGroup]="formRegister" >
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-phone"></span>
            <input type="text" formControlName="noHp" name="noHp" id="noHp" placeholder="{{ 'PHONE NUMBER' | translate }}" >
        </div>
        <div *ngIf="(errorControl['noHp'].dirty || errorControl['noHp'].touched) && errorControl['noHp'].errors" >
            <span style="font-size: 11px;"  *ngIf="errorControl['noHp'].errors['minlength']">{{('PHONE NUMBER' | translate)  + ('MUST BE AT LEAST 10 CHARACTERS' | translate)}}</span>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-person-circle"></span>
            <input type="text" formControlName="nama" name="nama" id="nama" placeholder="{{ 'FULL NAME' | translate }}">
        </div>
        <div *ngIf="(errorControl['nama'].dirty || errorControl['nama'].touched) && errorControl['nama'].errors">
            <span style="font-size: 11px;"  *ngIf="errorControl['nama'].errors['required']">{{('NAME' | translate)  + ('IS REQUIRED' | translate)}}</span>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-key"></span>
            <input type="{{isPin ? 'password' : 'text'}}" formControlName="pin" name="pin" id="pin" placeholder="{{ 'PIN' | translate }}">
                  <span class="position-relative pr-4" id="basic-addon1">
            <i class="position-absolute translate-middle-y"(click)="doChangeTypePin()" [ngClass]="isPin ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
          </span>
        </div>
        <div style="font-size: 12px;" *ngIf="(errorControl['pin'].dirty || errorControl['pin'].touched) && errorControl['pin'].errors">
            <span *ngIf="errorControl['pin'].errors['minlength']">{{('PIN' | translate) + ('MUST BE AT LEAST 4 CHARACTERS' | translate)}} </span>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="bi bi-envelope"></span>
            <input type="text" formControlName="email"  name="email" id="email" placeholder="{{ 'EMAIL' | translate }}">
        </div>
        <div style="font-size: 12px;" *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
            <span *ngIf="errorControl['email'].errors['email']">{{('EMAIL' | translate) + ('MUST BE REQUIRED' | translate)}} </span>
        </div>
        <button class="btn mt-3">{{ 'REGISTER' | translate }}</button>
    </form>
    <!-- <div class="text-center fs-6">
        <a style="font-size: 14px; color: black;">{{ 'ALREADY HAVE AN ACCOUNT?' | translate }}</a><a style="font-size: 14px;" [routerLink]="['/login']">{{ 'SIGN IN' | translate }}</a>
    </div> -->
</div>