<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>{{ 'TRANSACTION' | translate }} <b>{{ 'DETAILS' | translate }}</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered text-center">
                <thead>
                    <tr>
                        <th>{{ 'NO.' | translate}} </th>
                        <th>{{ ('CONTRIBUTOR' | translate) + ' ' + ('NAME' | translate)}}</th>
                        <th>{{ 'NOMINAL' | translate}}</th>
                        <th>{{ 'NAME OF PROGRAM' | translate}}</th>
                        <th>{{ 'TRANSACTION DATE' | translate}}</th>
                        <th>{{ 'STATUS' | translate}}</th>
                        <th>{{ 'ACTIONS' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of trans | async; let i = index">
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{data.nama}}</td>
                        <td>{{data.nominal | currency: 'Rp '}}</td>
                        <td>{{data.nameProgram}}</td>
                        <td>{{data.transactionDate | date: 'shortDate'}}</td>
                        <td *ngIf="data.status == 'Success';">
                            <span class="badge badge-success">{{data.status}}</span> 
                        </td>
                        <td *ngIf="data.status == 'Failed';">
                            <span class="badge badge-danger">{{data.status}}</span> 
                        </td>
                        <td>
                            <button class=" btn w-20" title="View" data-toggle="tooltip" (click)="openModal(template, data)"><i class="material-icons" style="color: green;">&#xE417;</i></button>
                        </td>
                    </tr>
                </ng-container>     
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">{{ 'SHOWING' | translate}} <b>1</b> {{ 'OUT OF' | translate}} <b>1</b> {{ 'ENTRIES' | translate}}</div>
                <ul class="pagination">
                    <li class="page-item" (click)="tooShort()" [ngClass]="min ? 'disabled' : ''"><a><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item" [ngClass]="page === 1 ? 'active' : ''"><a class="page-link" (click)="next(1)">1</a></li>
                    <li class="page-item" [ngClass]="page === 2 ? 'active' : ''"><a class="page-link" (click)="next(2)">2</a></li>
                    <li class="page-item" [ngClass]="page === 3 ? 'active' : ''"><a class="page-link" (click)="next(3)">3</a></li>
                    <li class="page-item" [ngClass]="page === 4 ? 'active' : ''"><a class="page-link" (click)="next(4)">4</a></li>
                    <li class="page-item" [ngClass]="page === 5 ? 'active' : ''"><a class="page-link" (click)="next(5)">5</a></li>
                    <li class="" (click)="tooMuch()" [ngClass]="max ? 'disabled' : ''"><a class="page-link" ><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>  
</div> 
 
<ng-template #template>
  <div class="modal-body">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
      {{ ('CONTRIBUTOR' | translate) + ' ' + ('NAME' | translate)}} : <b>{{viewData.nama}}</b>
    <hr />
    {{ 'TRANSACTION DATE' | translate }}: {{viewData.transactionDate}}
    <hr />
    <p>{{ 'PROGRAM ID' | translate }}: {{viewData.programID}}</p>
    <hr />
    <p>{{ 'NAME OF PROGRAM' | translate }}: {{viewData.nameProgram}}</p>
    <hr />
    <p>{{ 'TRANSACTION STATUS' | translate }}: <b>{{viewData.status}}</b></p>
  </div>
</ng-template>