<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
        <div class="d-flex mt-5 ml-3">
            <div class="row fullscreen align-items-center" style="height: 620px;">
                <div class="banner-content ml-5">
                    <h1 style="font-family: Arial, Helvetica, sans-serif; color: #eee809; font-size: 44px;">
                        <b>{{ 'DONATION FEATURE OF ASTRAPAY' | translate}}</b>
                    </h1>
                    <i><p style="font-size: 22px; color: rgb(66, 65, 65);">{{'CARING CAN OPENS THE WAY TO HAPPINESS.' | translate }}</p></i>
                   <div class="justify-content-start mt-5"> 
                       <!-- <a class="bn31" ><span class="bn31span">{{ 'START' | translate}}</span></a> -->
                       <!-- <i><p style="font-size: 16px; color: rgb(66, 65, 65);">{{ "Let's donate with Astrapay" | translate}}</p></i> -->
                       <a href="https://play.google.com/store/apps/details?id=com.ada.astrapay&referrer=af_tranid%3D0npGNi4frYL1mv97y0lDJw%26shortlink%3Dfc8b7d5f%26c%3DWebsite%20Download%20Android%26pid%3DWebsite%20AP%26af_click_lookback%3D7d">
                      <img src="assets/googlePlay.png"> 
                    </a>
                    <a class= "ml-4" href="https://apps.apple.com/id/app/astrapay/id1487585085">
                        <img src="assets/appStore.png"> 
                      </a>
                    </div>
                </div>
            </div>
    </div>
</section>