.bn31 {
    background-image: linear-gradient(to right ,#0046e6 0%,#0d459e 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #cdc86b;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }

  .btn {
    box-sizing: border-box;
    display: block;
    height: 100px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
  }
  
  .bn31:hover {
    color: #e9e0df;
  }
  
  .bn31 .bn31span {
    align-items: center;
    background: transparent;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease;
    width: 100%;
  }
  
  .bn31:hover .bn31span {
    background: transparent;
  }