<ng-lottie [options]="lottieConfig" width="400px" styles="text-area"></ng-lottie>
<p>You can do filter table data, in this case with observables and our <code>NgbHighlight</code> component used in Typeahead</p>
<form>
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
      </div>
    </div>
  </form>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px">
        <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
      <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>


  <div class="mb-3">
    <h1 class="size">Pie Chart</h1>
    <div class= "wrapper" >
    <canvas #pieCanvas ></canvas>
    </div>
    <hr color="red">
</div>

  <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>