<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>{{ 'LIST OF' | translate }} <b>{{ 'DONATION PROGRAMS' | translate }}</b></h2>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input
                id="table-filtering-search"
                class="form-control"
                type="text"
                [formControl]="filter"
                placeholder="Search&hellip;"
              />
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered text-center">
        <thead>
          <tr>
            <th>{{ 'NO.' | translate }}</th>
            <th>{{ 'NAME OF PROGRAM' | translate }}</th>
            <th>{{ 'EXECUTOR' | translate }}</th>
            <th>{{ 'TARGET' | translate }}</th>
            <th>{{ 'START DATE' | translate }}</th>
            <th>{{ 'END DATE' | translate }}</th>
            <th>{{ 'COLLECTED FUNDS' | translate }}</th>
            <th>{{ 'ACTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of program | async; let i = index">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ data.nameProgram }}</td>
              <td>{{ data.companyName}}</td>
              <td>{{ data.target | currency: "Rp " }}</td>
              <td>{{ data.startDate | date: "shortDate" }}</td>
              <td>{{ data.endDate | date: "shortDate" }}</td>
              <td>{{ data.collectedFunds | currency: "Rp " }}</td>
              <td>
                <button
                  class="btn w-20"
                  title="View"
                  data-toggle="tooltip"
                  (click)="openModal(template, data)"
                >
                  <i class="material-icons" style="color: green">&#xE417;</i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">{{ 'ACTIONS' | translate }} <b>1</b> {{ 'OUT OF' | translate }} <b>1</b> {{ 'ENTRIES' | translate }}</div>
        <ul class="pagination">
          <li
            class="page-item"
            (click)="tooShort()"
            [ngClass]="min ? 'disabled' : ''"
          >
            <a><i class="fa fa-angle-double-left"></i></a>
          </li>
          <li class="page-item" [ngClass]="page === 1 ? 'active' : ''">
            <a class="page-link" (click)="next(1)">1</a>
          </li>
          <li class="page-item" [ngClass]="page === 2 ? 'active' : ''">
            <a class="page-link" (click)="next(2)">2</a>
          </li>
          <li class="page-item" [ngClass]="page === 3 ? 'active' : ''">
            <a class="page-link" (click)="next(3)">3</a>
          </li>
          <li class="page-item" [ngClass]="page === 4 ? 'active' : ''">
            <a class="page-link" (click)="next(4)">4</a>
          </li>
          <li class="page-item" [ngClass]="page === 5 ? 'active' : ''">
            <a class="page-link" (click)="next(5)">5</a>
          </li>
          <li class="" (click)="tooMuch()" [ngClass]="max ? 'disabled' : ''">
            <a class="page-link"><i class="fa fa-angle-double-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ viewData.nameProgram }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'DONATION ID' | translate }}: {{ viewData.programID }}
    <hr />
    <p>
      {{ 'ADMIN WHO INPUT THE PROGRAM' | translate }}: <b>{{(viewData.createdBy.nama) +  '(' + (viewData.createdBy.id) + ') '}}</b>
    </p>
    <hr />
    {{ 'START DATE' | translate }}: {{ viewData.startDate }}
    <hr />
    <p>{{ 'END DATE' | translate }}: {{ viewData.endDate }}</p>
    <hr />
    <p>
      {{ 'TARGET' | translate }}: <b>{{ viewData.target | currency: 'Rp ' }}</b>
    </p>
    <hr />
    <p>{{ 'DESCRIPTION' | translate }}: </p><p>{{ viewData.description }}</p>
    
    <hr />
    <p>
      {{ 'COLLECTED FUNDS' | translate }}: <b>{{ viewData.collectedFunds | currency: 'Rp ' }}</b>
    </p>
    <hr />
    <p>
      {{ 'NET TOTAL' | translate }}: <b>{{ viewData.netDonation| currency: 'Rp ' }}</b>
    </p>
  </div>
</ng-template>
